<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>

    <div class="container">

    

        <div class="search">
              

        <form method="post" id="myRecipe">

            <div class="indiv"> 
            <label for="recipes">Recipes:</label>
            <input type="text" name="recipes" id="recipeInput" placeholder="Ex: pasta,pizza">
        </div>
        <div class="indiv"> 
            <label for="cuisine">Cuisine : </label>
            <input type="text" name="cuisine" id="cuisine" placeholder="ex:indian">
        </div>
        <div class="indiv"> 
            <label for="includeIngredients">IncludeIngredients : </label>
            <input type="text" name="includeIngredients" id="includeIngredients" placeholder="cheese">
        </div>
        <div class="indiv"> 
            <label for="excludeIngredients">ExcludeIngredients : </label>
            <input type="text" name="excludeIngredients" id="excludeIngredients" placeholder="mushroom">
        </div>
            <input type="submit" value="GET" id="get" formaction="/get_recipe">

        </form>





        <form action="" method="post" id="myRecipeId">

            <label for="information" class="indiv2"> Recipe Id:</label>
            <input type="text" name="information" id="recipeIngri" placeholder="Paste Id">
            <input type="submit" name="" value="GET" id="get2" formaction="/get_information" placeholder="782585" class="button1">
        </form>
    </div>
    


        <!-- -----------------------xxxxxx-------------------- -->




        
    







<div class="show"> 
        <% if(locals.check){   %>
        <ul class="ul1">  
            
        <%  content.results.forEach(recipe=> { %>
            <ul class="ul">


                <li>
                     Id :  <%= recipe.id %>
                    <button onclick="copyText('<%= recipe.id %>')" class="copyBtn" >Copy</button>
                  </li>
                <!-- <li> id: <%= recipe.id %> </li> -->
                <li> <%= recipe.title %>  </li>
                <img src="  <%=recipe.image %> "> 
            </ul>
            <% }) %>
        </ul>




        

        <% } else{  %>
        <%}  %>

</div>
          <!-- --------------XXXXXX-------------- -->


        <% if(locals.check2){  %>

<div class="main"> 

<div class="first">  
  <h2> <%= data.title %> </h2>

  <li><img src="  <%=data.image %> "> </li>
  <li>cuisines : <%= data.cuisines %> </li>
<li> Vegetarian : <%= data.vegetarian %>  </li>
<li>Vegan : <%= data.vegan %></li>
<li> GlutenFree : <%= data.glutenFree %></li>
<li> WeightWatcherSmartPoints : <%= data.weightWatcherSmartPoints %></li>
<li> HealthScore : <%= data.healthScore %></li>


   <!-- <h2>WinePairing : </h2> -->
    


</div>

<div class="second"> 
<li><h2>ExtendedIngredients :</h2>  <%= data.extendedIngredients.id %></li>
 <ul> 
    <% data.extendedIngredients.forEach(Ingredients=> { %>
       <div class="inside"> 
            <!-- <li> Id : <%= Ingredients.id %> </li> -->
            <li> Aisle : <%= Ingredients.aisle %> </li>
            <li>  Name : <%= Ingredients.name %>  </li>
            <li>  Original : <%= Ingredients.original %>  </li>
            <li>  Unit : <%= Ingredients.unit %>  </li>   
       </div>
 <%   })   %>
 </ul>
</div>
<div class="third"> 
 <li> <h2>Summary :</h2> <%- data.summary %>  </li>
</div>
</div>
<div class="main_sm"> 
<div class="fourth"> 
 <h2>Steps:</h2>

 <% data.analyzedInstructions.forEach(Inst=>{   %>
    <% Inst.steps.forEach(InstInside=>{ %>
<ul>  
        <li> Step <%= InstInside.number %> :   <%= InstInside.step %> </li>
</ul>

     <% }) %>
    <% }) %>

</div>

<div class="fifth"> 
<h2>nutrition values:</h2>
<ul> 
    <% data.nutrition.nutrients.forEach(nutriVal=>{ %>
        <div class="inside">
        <li>Name : <%= nutriVal.name %> </li>
        <li>Amount : <%= nutriVal.amount %> </li>
        <li>Unit : <%= nutriVal.unit %> </li>
        <li>PercentOfDailyNeeds : <%= nutriVal.percentOfDailyNeeds %> </li> 
    </div>
 <%  })  %>
 </ul>
</div>
</div>      











        <% } else{  %>


            <% } %>

    </div>
   



    
  
    <script>
      function copyText(text) {
        const el = document.createElement('textarea');
        el.value = text;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
        alert('Copied to clipboard: ' + text);
      }
    </script>
    

</body>
</html>