<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>

    <div class="container">
        <div class="search"> 

        
        <form action="" method="post" id="myRecipe">

            <label for="recipes">Recipes:</label>
            <input type="text" name="recipes" id="recipeInput">
            <label for="cuisine">Cuisine : </label>
            <input type="text" name="cuisine" id="cuisine" placeholder="ex:indian">
            <div> 
            <label for="includeIngredients">IncludeIngredients : </label>
            <input type="text" name="includeIngredients" id="includeIngredients">
        </div>
       <div> 
            <label for="excludeIngredients">ExcludeIngredients : </label>
            <input type="text" name="excludeIngredients" id="excludeIngredients">
        </div>
            <input type="submit" value="GET" id="get" class="button1" formaction="/get_recipe">
</form>
        
        



        <form action="" method="post" id="myRecipeId">

            <label for="information"> Recipe Id:</label>
            <input type="text" name="information" id="recipeIngri">
            <input type="submit" name="" value="GET" id="get2" formaction="/get_information" placeholder="782585" class="button1">
        </form>

    
</div>

        <!-- -----------------------xxxxxx-------------------- -->
<div class="show"> 
        <% if(locals.check){   %>
        
            
        <%  content.results.forEach(recipe=> { %>
            
            <ul class="ul">
                <li>Recipe Id: <%= recipe.id %> </li>
                <li> <%= recipe.title %>  </li>
                <img src="  <%=recipe.image %> "> 
            </ul>
            <% }) %> 
         
        <% } else{  %>
        <%}  %>

</div>
          <!-- --------------XXXXXX-------------- -->


        <% if(locals.check2){  %>


  <h2> <%= data.title %> </h2>

  <li><img src="  <%=data.image %> "> </li>
  <li>cuisines : <%= data.cuisines %> </li>
<li> Vegetarian : <%= data.vegetarian %>  </li>
<li>Vegan : <%= data.vegan %></li>
<li> GlutenFree : <%= data.glutenFree %></li>
<li> WeightWatcherSmartPoints : <%= data.weightWatcherSmartPoints %></li>
<li> HealthScore : <%= data.healthScore %></li>


<li><h2>ExtendedIngredients :</h2>  <%= data.extendedIngredients.id %></li>

    <% data.extendedIngredients.forEach(Ingredients=> { %>
        <ul>
            <li> Id : <%= Ingredients.id %> </li>
            <li> Aisle : <%= Ingredients.aisle %> </li>
            <li>  Name : <%= Ingredients.name %>  </li>
            <li>  Original : <%= Ingredients.original %>  </li>
            <li>  Unit : <%= Ingredients.unit %>  </li>   
        </ul>
 <%   })   %>


 <li> <h2>Summary :</h2> <%= data.summary %>  </li>

 <h2>Steps:</h2>
 <% data.analyzedInstructions.forEach(Inst=>{   %>
    <% Inst.steps.forEach(InstInside=>{ %>
        <li> Step <%= InstInside.number %> :   <%= InstInside.step %> </li>
     <% }) %>
    <% }) %>



<h2>nutrition values:</h2>
    <% data.nutrition.nutrients.forEach(nutriVal=>{ %>
        
        <li>Name : <%= nutriVal.name %> </li>
        <li>Amount : <%= nutriVal.amount %> </li>
        <li>Unit : <%= nutriVal.unit %> </li>
        <li>PercentOfDailyNeeds : <%= nutriVal.percentOfDailyNeeds %> </li>
 <%  })  %>

       
            
        <% } else{  %>


            <% } %>

    </div>
    
</body>
</html>